.home-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5vh 5vw;
    box-sizing: border-box;
    gap: 50px;
    cursor: default;
    min-height: 100vh; 
}

.home-main .Text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-main  .Text h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 0;
    font-weight: 700;
    color: #2f2f2f; 
}

.home-main  .Text h2 {
    font-size: 1.5rem;
    line-height: 1.3;
    margin: 0;
    font-weight: 500;
    color: #3a3a3a;
}

.home-main  .Text p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    color: #3a3a3a;
}

.home-main  .home-main img {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .home-main {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 5vh 5vw;
    }

    .home-main img {
        max-width: 80%;
    }

    .home-main .Text h1 {
        font-size: 2rem;
    }

    .home-main .Text h2 {
        font-size: 1.2rem;
    }

    .home-main .Text p {
        font-size: 0.95rem;
    }
}
