@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Momo Trust Display", sans-serif;
  color: #2f2f2f;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}
h1, h2, h3 {
  color: #262626;
}

p, li, span {
  color: #3a3a3a;
}

.water-bg {
  margin: 0;
  position: fixed;
  inset: 0;
  z-index: -2;

  background:
    radial-gradient(circle at 40% 30%, #8a8f94, #676c71 70%),
    radial-gradient(circle at 60% 70%, #7f8489, #5c6166 70%);
}

.glass-page {
  margin: 0px;
  display: flex;
  flex-direction: column;

  align-items: center;
  min-height: 100vh;
  padding: 4vh 4vw;

  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  box-shadow:
    inset 0 0 80px rgba(255,255,255,0.25),
    0 20px 60px rgba(0,0,0,0.15);

}
